* {
    background-color: #eae5e5;
}
.container {
    width: 80px;
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 50px;
    margin: auto;
    display: inline-block;
    justify-content: center;
    margin-top: 75px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 100px;
    font-family: sans-serif;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 7px gray ; 
}

h1{
    text-align: center;
}

input {
    border-radius: 2px;
    
}

#login {
    width: 300px;
    height: 25px;
    background-color: rgb(41, 156, 41);
    color: white;
    margin-top: 5px;
    border-radius: 2px;
    box-shadow: 0.5px;
}

#login:hover {
    background-color: rgb(37, 196, 37);
    cursor: pointer;
    font-weight: 550;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(232, 69, 69);
    font-size: 600;
}

h1, .cred-1, .cred-2, .userid, .password, input, p, a {
    background-color: #ffffff;
}

.cred-1, .cred-2 {
    width: 300px;
    height: 20px;
}